<ion-header  [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title><b>Login</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating" color="danger"><ion-icon name="person-sharp"></ion-icon></ion-label>
    <ion-input type="text" [(ngModel)]="email" placeholder="E-mail" ></ion-input>
  </ion-item>
  <br>

  <ion-item>
    <ion-label position="floating" color="danger"><ion-icon name="lock-closed-sharp"></ion-icon></ion-label>
    <ion-input  type="password" [(ngModel)]="senha" placeholder="Senha"></ion-input>
  </ion-item>
  <br>

  <ion-button shape="round" fill="outline" color="danger" (click)="logar()">Logar</ion-button>
</ion-content>
