<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SUPER LANCHE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Último projeto</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <img src="../../assets/img/logo.jpeg"/> 
   
    <strong>BEM VINDO!</strong><br>
    <p>
      <a href="login">Login</a>
    </p>
    <p>
      <a href="registro">Cadastre-se</a>
    </p>
  </div>
</ion-content>
